#aboutUs
    margin:
        top: 50px

    #previews
        height: 230px
        margin:
            top: 30px
            left: 22px

        //The images
        div
            cursor: pointer
            float: left

        #tai
            $path: 'gfi/portfolio/tai2.png'
            
            height: image-height($path)
            width: image-width($path)/2
            background: image-url($path)
            
            &:hover
                background-position: image-width($path)/2

        #nui
            $path: 'gfi/portfolio/nui2.png'
            
            height: image-height($path)
            width: image-width($path)/2
            background: image-url($path)
            
            &:hover
                background-position: image-width($path)/2