@import 'layout'

#aboutUs
    h3
        line-height: 35px
    margin:
        top: 50px

    #previews
        height: 230px
        margin:
            top: 30px
            left: 22px

        //The images
        div
            cursor: pointer
            float: left

        #teamAbout
            $path: 'gfi/about/webdesigners.png'
            
            height: image-height($path)
            width: image-width($path)/2
            background: image-url($path)
            
            &:hover
                background-position: image-width($path)/2
                
        #locationAbout
            $path: 'gfi/about/location.png'

            height: image-height($path)
            width: image-width($path)/2
            background: image-url($path)

            &:hover
                background-position: image-width($path)/2
                
        #servicesAbout
            $path: 'gfi/about/services.png'

            height: image-height($path)
            width: image-width($path)/2
            background: image-url($path)

            &:hover
                background-position: image-width($path)/2
                
                
                
//team------------------------

#teamSection
    width: 85%
    height: 400px
    border:
        size: 1px
    margin:
        right: auto
        left: auto
    padding:
        top: 15px
        bottom: 15px








