#blog
    .head
        text-align: center

        h1
            font:
                size: 80px

    .post
        .body
            padding:
                top: 20px
                bottom: 20px
        .photoContainer
            text-align: center

            img
                border: 8px solid #7AC5CD

//Classes used IN blog posts
.post .body
    .bold
        font-weight: 800
