#blog
    .head
        text-align: center

        h1
            font:
                size: 80px

    .post
        .body
            padding:
                top: 20px
                bottom: 20px
        .photoContainer
            text-align: center

            img
                border: 4px solid #61E191
                padding: 2px

//Classes used IN blog posts
.post .body
    .bold
        font-weight: 800
