#contactUsForm
    #contactUsTitle
        h2
            display: inline
        h3
            display: inline

    form
        background-color: red
        width: 400px

        .field
            padding:
                top: 15px

            input
                width: 300px
                height: 30px
                font:
                    size: 25px

            textarea
                resize: none
                width: 300px
                height: 200px
                font:
                    size: 25px
