#contactUsForm
    #contactUsTitle
        h2
            display: inline
            font:
                size: 36px
            color: #a7e169
        h3
            display: inline
            font:
                size: 23px

    form
        width: 400px

        .field
            color: #a7e169
            padding:
                top: 15px
                left: 40px

            input
                width: 300px
                height: 30px
                font:
                    size: 25px

            textarea
                resize: none
                width: 300px
                height: 200px
                font:
                    size: 25px
                    
                    
                    
    #submitButton
        margin:
            left: 33px
        $path: 'gfi/webdesignquote.png'
        color: transparent

        height: image-height($path)
        width: image-width($path)/2
        background: image-url($path)
        border: none

        &:hover
            background-position: image-width($path)/2
