@import 'layout';

#home{
}

#spacer {
	width: 1050px;
	height: 860px;
	padding: 10px;
  left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

/*---------------------------about top left -------------------------------------*/

#logo{
	background: image-url('homepg/new/logo.png');
	width: 189px;
	height: 198px;
	position: absolute;
  left: -350px;
	right: 0;
	margin-left: auto;
	margin-right: auto;	
}

#aboutUs {
	height: 200px;
	width: 500px;
	position: absolute;
  left: -500px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#aboutHead {
	height: 30px;
	width: 500px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #335864;
}

#aboutInfo {
	height: 60px;
	width: 500px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #5f838f;
}

/*---------------------------about top left END -------------------------------------*/

/*---------------------------design top right -------------------------------------*/

#design {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 50px;
  left: 650px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#designHead {
	height: 30px;
	width: 350px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #386433;
}

#designInfo {
	height: 60px;
	width: 350px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #59a56d;
}

/*---------------------------design top right END -------------------------------------*/

/*---------------------------dev bottom left -------------------------------------*/

#dev {
	height: 200px;
	width: 500px;
	position: absolute;
	top: 670px;
  left: -500px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#devHead {
	height: 30px;
	width: 450px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #5c4e3a;
}

#devInfo {
	height: 60px;
	width: 450px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #ae9472;
}
/*---------------------------dev bottom left END -------------------------------------*/

/*---------------------------social bottom right -------------------------------------*/

#interactive {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 620px;
  left: 650px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#interactiveHead {
	height: 70px;
	width: 350px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #3b425e;
}

#interactiveInfo {
	height: 60px;
	width: 350px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #656e92;
}

/*---------------------------social bottom right END-------------------------------------*/

#contactButton {
	background: image-url('homepg/new/contactbutton.png');
	width: 430px;
	height: 210px;
	padding-top: 165px;
	padding-left: 60px;
	padding-right: 80px;
	position: absolute;
  left: 0px;
	top: 110px;
	right: 50px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	z-index: 3;
	text-align: center;
	color: #b67740;
}

#fullSite {
	background: image-url('homepg/new/fullsite.png');
	width: 204px;
	height: 141px;
	padding: 40px;
	padding-left: 100px;
	padding-top: 100px;
	position: absolute;
  left: -380px;
	top: 380px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	z-index: 2;
	text-align: center;
	color: #a09c80;
}

#testLink {
	background: image-url('homepg/new/testlink.png');
	width: 270px;
	height: 170px;
	position: absolute;
	padding-top: 105px;
	padding-left: 110px;
	padding-right: 170px;
  left: 0px;
	top: 380px;
	right: -250px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	z-index: 1;
	text-align: center;
	color: #9f5757;
}
