@import 'layout';

#home{
}

#spacer {
	width: 1150px;
	height: 950px;
	padding: 10px;
  left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-width:1px;
	border-color: black;
}

/*---------------------------about top left -------------------------------------*/

#logo{
	background: image-url('homepg/new/logo.png');
	width: 189px;
	height: 198px;
	position: absolute;
  left: -350px;
	right: 0;
	margin-left: auto;
	margin-right: auto;	
}

#aboutArrow{
	background: image-url('homepg/new/aboutus.png');
	height: 108px;
	width: 187px;
	position: absolute;
  left: -740px;
	right: 0;
	top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#about {
	background: image-url('homepg/new/aboutbox.png');
	width: 270px;
	height: 180px;
	padding: 20px;
	position: absolute;
  left: -880px;
	top: 180px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

/*---------------------------about top left END -------------------------------------*/

/*---------------------------design top right -------------------------------------*/

#design {
	background: image-url('homepg/new/designbox.png');
	width: 270px;
	height: 180px;
	padding: 20px;
	position: absolute;
  right: -880px;
	top: 200px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#designHead{
	background: image-url('homepg/new/design.png');
	width: 422px;
	height: 147px;
	position: absolute;
  right: -350px;
	left: 0;
	top: 50px;
	margin-left: auto;
	margin-right: auto;	
}

#designArrow{
	background: image-url('homepg/new/designarrow.png');
	width: 265px;
	height: 107px;
	position: absolute;
  right: -300px;
	left: 0;
	top: 170px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

/*---------------------------design top right END -------------------------------------*/

/*---------------------------dev bottom left -------------------------------------*/

#development {
	background: image-url('homepg/new/devbox.png');
	width: 270px;
	height: 180px;
	padding: 20px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 850px;
	top: 740px;
	z-index: 1;
}

#devHead {
	background: image-url('homepg/new/dev.png');
	width: 588px;
	height: 116px;
	position: absolute;
  right: 350px;
	left: 0;
	top: 640px;
	margin-left: auto;
	margin-right: auto;
}

#devArrow{
	background: image-url('homepg/new/devarrow.png');
	width: 265px;
	height: 110px;
	position: absolute;
  right: 250px;
	left: 0;
	top: 740px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}
/*---------------------------dev bottom left END -------------------------------------*/

/*---------------------------social bottom right -------------------------------------*/

#interactive {
	width: 270px;
	height: 180px;
	padding: 20px;
	position: absolute;
	top: 410px;
	left: 790px;
	z-index: 5;
}

/*---------------------------social bottom right END-------------------------------------*/

#contactButton {
	background: image-url('homepg/new/contactbutton.png');
	width: 484px;
	height: 125px;
	padding-top: 145px;
	padding-right: 20px;
	position: absolute;
  left: 0px;
	top: 245px;
	right: -50px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	z-index: 3;
	text-align: center;
	color: white;
}

#fullSite {
	background: image-url('homepg/new/fullsite.png');
	width: 334px;
	height: 163px;
	position: absolute;
	padding-top: 200px;
	padding-left: 40px;
  left: -300px;
	top: 320px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	z-index: 2;
	text-align: center;
	color: white;
	z-index: 2;
}

#testLink {
	background: image-url('homepg/new/testlink.png');
	width: 480px;
	height: 153px;
	position: absolute;
	padding-top: 155px;
	padding-right: 70px;
  left: 0px;
	top: 370px;
	right: -320px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	z-index: 1;
	text-align: center;
	color: white;
}