@import 'compass/reset'

//Global//////////////////////////////////////////////////
//Content size
$cSize: 1000px

body
    background: image-url('gfi/designtile2.png')
    color: white

.colorTurq
    color: #61E191

h1, h2, h2, h3, h4
    font:
        family: 'Accidental Presidency', 'MS Sans Serif'
        weight: bold

h1
    color: #61E191
    
    font:
        size: 53px

h2
    color: #61E191

    font:
        size: 53px

h3
    font:
        size: 36px
    color: #a7e169

h4
    font-size: 24px
    color: #a7e169
    
h5
    font:
        size: 25px
        family: "PT Sans", sans-serif
    line-height: 34px


p
    font:
        size: 20px
        family: "PT Sans", sans-serif
    line-height: 25px
    padding: 
        top: 5px

label
    font:
        size: 25px
        family: "PT Sans", sans-serif
        weight: 700
    line-height: 25px
    
a
    text-decoration: none
////////////////////////////////////////////////////////////

//Classes//////////////////////////////////////////////////
hr.hrMain
    width: $cSize
    height: 1px
    border: none
    background:
        color: #387875

hr.hrSub
    height: 1px
    border: none
    background:
        color: #387875
//////////////////////////////////////////////////

//Main Layout//////////////////////////////////////////////////
#mainDiv
    #header
        width: $cSize
        height: 90px
        margin:
            top: 60px
            bottom: -25px
            left: auto
            right: auto

        //GFI logo
        #logo
            margin:
                top: -40px
                
            float: left
            $path: 'gfi.png'
            
            height: image-height($path)
            width: image-width($path)/2
            background: image-url($path)
            
            &:hover
                background-position: image-width($path)/2
        
        //Navbar
        #nav
            margin:
                right: 30px
                top: -10px
            
            float: right
            color: #61E191
            text-decoration: none

            font:
                family: 'Accidental Presidency'
                size: 42px
                text-decoration: none

            li, a
                padding:
                    left: 5px
                display: inline
                cursor: pointer
                color: #61E191
                text-decoration: none

                &:visited
                    color: #61E191
                    text-decoration: none
                
                &:hover
                    color: #a7e169
                    text-decoration: none
                    
            li
                color: #69e1c6
                &:hover
                    color: #69e1c6
                    cursor: default
                
        
    #content
        width: $cSize
        margin:
            left: auto
            right: auto
////////////////////////////////////////////////////////////


//#fbIcon
    position: absolute
    top: 2%
    right: 0
    
    $path: 'gfi/socialicons/interactivemedias.png'
    
    height: image-height($path)
    width: image-width($path)/2
    background: image-url($path)
    
    &:hover
        background-position: image-width($path)/2
        
//#twitterIcon
    position: absolute
    top: 10%
    right: 0

    $path: 'gfi/socialicons/socialmedias.png'

    height: image-height($path)
    width: image-width($path)/2
    background: image-url($path)

    &:hover
        background-position: image-width($path)/2
        
#right
    position: absolute
    right: 20px
    top: 10px
