@import 'blueprint';
@import 'compass';

//Global Settings//////////////////////////////////////////////////
body
{
	background: image-url('gfi/designtile2.png');
	
//	font-family: "PT Sans", sans-serif, "Lucida Console", Monospace, "Times New Roman";
    font-family: 'Duru Sans', sans-serif;
		color: white;

  //Hide horizontal scroll bar
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

a
{
	color: orange;
  text-decoration: none;
}

ul
{
  list-style-type: none;
}

p, ul
{
  font-size: 13px;
  font-weight: 450;
}

h1
{
  font-size: 8em;
}

h2
{
	font-size: 2em;
}

h3
{
	font-size: 1.5em;
	font-weight: 20;
}

h4 {
	font-size: 1.4;
	font-weight: 20;
}

img
{
  border: 0;
}

p
{
  em
  {
    font-weight: 700;
  }
}
//////////////////////////////////////////////////

#mainDiv
{

  #content
  {
  }
}

#header {
	height: 103px;
	
	#headerContent {
    @include container;
	
		#logoHead {
			background: image-url('logo.png')
		}

		#nav {
			@include prepend(5); //How far left of the logo is the navbar?
			height: 200px;
			width: 500px;
    	color: #69e191;
    	cursor: default;

			//Buttons
    	ul {
      	li {
        	display: table-cell;
        	padding: 11px;
        	cursor: pointer;

        	&:hover {
          	color: #a7e169;
        	}
      	}
    	}
		}
	}
}
