#packagesImg
    margin:
        left: auto
        right: auto
        top: 20px
    width: 930px

#webDesignPrice
    float: left
    $path: 'gfi/packages/website.png'
    
    height: image-height($path)
    width: image-width($path)/2
    background: image-url($path)
    
    &:hover
        background-position: image-width($path)/2
        
#appDevHome
    float: left
    $path: 'gfi/packages/mobile.png'
    
    height: image-height($path)
    width: image-width($path)/2
    background: image-url($path)
    
    &:hover
        background-position: image-width($path)/2
        
#onlineMktHome
    float: left
    $path: 'gfi/packages/onlinemkt.png'
    
    height: image-height($path)
    width: image-width($path)/2
    background: image-url($path)
    
    &:hover
        background-position: image-width($path)/2
        
        
#designPackages
    margin:
        top: 1px
    float: left
    width: 550px
    
    #designPackHead
        width: 100%
        
#headTop
    h3
        color: white
        font:
            size: 35px
        line-height: 30px
        
    text-align: center    
    float: right
    width: 100px
    height: 64px
    margin:
        right: -2px
    background: image-url('gfi/packages/table/top.png')
    padding:
        top: 10px
        left: 10px
        right: 10px
    
#headBottom
    h3
        color: white
        font:
            size: 35px
        line-height: 30px
        
    color: white
    text-align: center
    float: right
    width: 99px
    height: 64px
    background: image-url('gfi/packages/table/bottom.png')
    padding:
        top: 10px
        left: 10px
        right: 10px
    
#tableCells
    float: right
    width: 75px
    height: 34px
    margin:
        right: -2px
    background: image-url('gfi/packages/table/cellbg.png')
    padding:
        left: 45px
        top: 4px
        
#packageLabel
    p
        color: black
        
    float: right
    width: 185px
    height: 31px
    padding:
        left: 10px
        top: 5px
    background: image-url('gfi/packages/table/labelbg.png')
    
#packageLabelI
    p
        color: black
        
    float: right
    width: 155px
    height: 31px
    padding:
        left: 10px
        top: 5px
    background: image-url('gfi/packages/table/labelbg.png')
    
#mktPackages
    margin:
        top: 1px
    float: left
    width: 430px
    
    
    
    
    