#servicePage
    h2
        line-height: 35px
    margin:
        top: 50px

#servicesList
    width: 90%
    margin:
        left: auto
        right: auto
    h2
        padding: 
            top: 15px
            
        color: #a7e169
        font: 
            size: 36px
        
    p
        padding:
            bottom: 15px