@import 'layout';

#test{
	background: image-url('test/bgtile.png');
}

#spacer2 {
	width: 900px;
	height: 1300px;
	padding: 10px;
  left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#happy {
	background: image-url('test/start.png');
	width: 355px;
	height: 186px;
	text-align: center;
	color: #467373;
	padding-top: 105px;
	position: absolute;
  left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#yesHappy {
	background: image-url('test/yesno.png');
	width: 130px;
	height: 81px;
	text-align: center;
	color: #467373;
	padding-top: 35px;
	padding-right: 6px;
	position: absolute;
  left: -310px;
	right: 0;
	top: 310px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#noHappy {
	background: image-url('test/yesno.png');
	width: 138px;
	height: 81px;
	text-align: center;
	color: #467373;
	padding-top: 35px;
	position: absolute;
  left: 0;
	right: -320px;
	top: 310px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#socialBubble {
	background: image-url('test/questions.png');
	width: 238px;
	height: 146px;
	text-align: center;
	padding-top: 50px;
	color: #467373;
	position: absolute;
  left: -650px;
	right: 0;
	top: 128px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#noSocial {
	background: image-url('test/yesno.png');
	width: 138px;
	height: 81px;
	text-align: center;
	color: #467373;
	padding-top: 35px;
	position: absolute;
  left: -750px;
	right: 0;
	top: 428px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#yesSocial {
	background: image-url('test/yesno.png');
	width: 138px;
	height: 81px;
	text-align: center;
	color: #467373;
	padding-top: 35px;
	position: absolute;
  left: -250px;
	right: 0;
	top: 650px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#designTest {
	background: image-url('test/questions.png');
	width: 238px;
	height: 126px;
	text-align: center;
	padding-top: 70px;
	color: #467373;
	position: absolute;
  left: -20px;
	right: 0;
	top: 420px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#noDesign {
	background: image-url('test/yesno.png');
	width: 138px;
	height: 81px;
	text-align: center;
	color: #467373;
	padding-top: 35px;
	position: absolute;
  left: 0;
	right: -400px;
	top: 625px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#functionality {
	background: image-url('test/questions.png');
	width: 238px;
	height: 156px;
	text-align: center;
	padding-top: 40px;
	color: #467373;
	position: absolute;
  left: 0;
	right: -580px;
	top: 407px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#noFunction {
	background: image-url('test/yesno.png');
	width: 138px;
	height: 81px;
	text-align: center;
	color: #467373;
	padding-top: 35px;
	position: absolute;
  left: 0;
	right: -800px;
	top: 635px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#designStat {
	p{
		font-size: 0.8em;
	}
		background: image-url('test/questions.png');
		width: 198px;
		height: 146px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		padding-top: 50px;
		color: #467373;
		position: absolute;
  left: 0;
	right: -130px;
	top: 720px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#functionStat {
	p{
		font-size: 0.8em;
	}
		background: image-url('test/questions.png');
		width: 198px;
		height: 146px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		padding-top: 50px;
		color: #467373;
		position: absolute;
  left: 0;
	right: -600px;
	top: 780px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#socialStat {
	p{
		font-size: 0.75em;
	}
	background: image-url('test/questions.png');
	width: 198px;
	height: 156px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	padding-top: 40px;
	color: #467373;
	position: absolute;
  left: -670px;
	right: 0;
	top: 655px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#contactUsTest {
	background: image-url('test/finish.png') no-repeat;
	width: 370px;
	height: 215px;
	text-align: center;
	padding-top: 120px;
	padding-left: 20px;
	padding-right: 20px;
	color: #467373;
	position: absolute;
  left: -375px;
	right: 0;
	top: 880px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}


/*------------arrows for test---------------*/

#happyYesArrow {
	background: image-url('test/arrows/1styes.png');
	width: 40px;
	height: 58px;
	position: absolute;
  left: -240px;
	right: 0;
	top: 260px;
	margin-left: auto;
	margin-right: auto;
}

#socialArrow {
	background: image-url('test/arrows/yeshappy.png');
	width: 45px;
	height: 47px;
	position: absolute;
  left: -445px;
	right: 0;
	top: 288px;
	margin-left: auto;
	margin-right: auto;
}

#socialNoArrow {
	background: image-url('test/arrows/nosocial.png');
	width: 35px;
	height: 118px;
	position: absolute;
  left: -720px;
	right: 0;
	top: 315px;
	margin-left: auto;
	margin-right: auto;
}

#socialYesArrow {
	background: image-url('test/arrows/yessocial.png');
	width: 145px;
	height: 350px;
	position: absolute;
  left: -420px;
	right: 0;
	top: 306px;
	margin-left: auto;
	margin-right: auto;
}

#happyNoArrow {
	background: image-url('test/arrows/1stno.png');
	width: 40px;
	height: 58px;
	position: absolute;
  right: -240px;
	left: 0;
	top: 262px;
	margin-left: auto;
	margin-right: auto;
}

#functionNoArrow {
	background: image-url('test/arrows/1stno.png');
	width: 40px;
	height: 58px;
	position: absolute;
  right: -690px;
	left: 0;
	top: 590px;
	margin-left: auto;
	margin-right: auto;
}

#happyNoDesign {
	background: image-url('test/arrows/1styes.png');
	width: 40px;
	height: 58px;
	position: absolute;
  right: -210px;
	left: 0;
	top: 405px;
	margin-left: auto;
	margin-right: auto;
}

#happyNoFunction {
	background: image-url('test/arrows/smallest.png');
	width: 25px;
	height: 29px;
	position: absolute;
  right: -420px;
	left: 0;
	top: 403px;
	margin-left: auto;
	margin-right: auto;
}

#finalFunctionArrow {
	background: image-url('test/arrows/finalfunction.png');
	width: 259px;
	height: 130px;
	position: absolute;
  right: 0;
	left: 120px;
	top: 550px;
	margin-left: auto;
	margin-right: auto;
}

#designNoArrow {
	background: image-url('test/arrows/designno.png');
	width: 81px;
	height: 73px;
	position: absolute;
  right: 0;
	left: 220px;
	top: 575px;
	margin-left: auto;
	margin-right: auto;
	z-index: 6;
}

#noFunctionStat {
	background: image-url('test/arrows/1styes.png');
	width: 40px;
	height: 58px;
	position: absolute;
  left: 0px;
	right: -700px;
	top: 732px;
	margin-left: auto;
	margin-right: auto;
}

#designStatArrow {
	background: image-url('test/arrows/smallestflip.png');
	width: 25px;
	height: 29px;
	position: absolute;
  left: 0px;
	right: -300px;
	top: 720px;
	margin-left: auto;
	margin-right: auto;
}

#designStatFinal {
	background: image-url('test/arrows/nosocial.png');
	width: 35px;
	height: 118px;
	position: absolute;
  left: 0px;
	right: 285px;
	top: 765px;
	margin-left: auto;
	margin-right: auto;
}

#noDesignStat {
	background: image-url('test/arrows/1styes.png');
	width: 40px;
	height: 58px;
	position: absolute;
  left: 0px;
	right: 0px;
	top: 900px;
	margin-left: auto;
	margin-right: auto;
}

#noSocialStat {
	background: image-url('test/arrows/1stno.png');
	width: 40px;
	height: 58px;
	position: absolute;
  left: 0px;
	right: 530px;
	top: 830px;
	margin-left: auto;
	margin-right: auto;
}

#noSocialArrow {
	background: image-url('test/arrows/statsocial.png');
	width: 42px;
	height: 127px;
	position: absolute;
  left: 0px;
	right: 700px;
	top: 535px;
	margin-left: auto;
	margin-right: auto;
}

#functionStatFinal {
	background: image-url('test/arrows/yesfunction.png');
	width: 194px;
	height: 82px;
	position: absolute;
  right: 0;
	left: 200px;
	top: 910px;
	margin-left: auto;
	margin-right: auto;
}

#designYesArrow {
	background: image-url('test/arrows/1styes.png');
	width: 40px;
	height: 58px;
	position: absolute;
  left: 0px;
	right: 150px;
	top: 600px;
	margin-left: auto;
	margin-right: auto;
}

