<!-- Our Services -->
<div id="ourProcess"><hr class="hrMain" />
    <div id="desc">
        
            <div id="serviceHead">
            <h2>THE WAY WE DO THE THINGS WE DO</h2>
            
            <% unless action_name == "services" then %>
                <%= link_to :controller => :application, :action => :services do %>
                    <div id="serviceLink">
                        <h4>LEARN MORE ABOUT OUR SERVICES</h4>
                    </div>
                <% end %>
            <% end %>
            </div>
        <div class="research" id="block">
            <h3>RESEARCH</h3>
            <p>
                Chasing a positive ROI we consider all the relevant facts to create 
                a strategy that grows your brand
            </p>
        </div>

        <div class="research" id="block">
            <h3>DESIGN</h3>
            <p>
                We capture your brand's identity and design a look that will engage
                and interact with your audience 
            </p>
        </div>

        <div class="research" id="block">
            <h3>DEVELOPMENT</h3>
            <p>
                From extensive e-commerce sites to the development of mobile apps 
                we can create anything you need
            </p>
        </div>

        <div id="blockTwo">
            <h3>INTERACTIVE</h3>
            <p>
                Engaging and interacting with your customers is a must, and we 
                know where to find customers 
            </p>
        </div>
    </div>
</div>
