<!-- Our Services -->
<div id="ourProcess"><hr class="hrMain" />
    <div id="desc">
        <div id="serviceHead">
            <h2>THE WAY WE DO THE THINGS WE DO</h2>
            <a href="services"><div id="serviceLink"><h4>LEARN MORE ABOUT OUR SERVICES</h4></div></a>
        </div>
        <div class="research" id="block">
            <h3>RESEARCH</h3>
            <p>
                We will research your market, help come up with marketing strategies
                to get your brand bigger
            </p>
        </div>

        <div class="research" id="block">
            <h3>DESIGN</h3>
            <p>
                We will research your market, help come up with marketing strategies
                to get your brand bigger
            </p>
        </div>

        <div class="research" id="block">
            <h3>DEVELOPMENT</h3>
            <p>
                We will research your market, help come up with marketing strategies
                to get your brand bigger
            </p>
        </div>

        <div id="blockTwo">
            <h3>INTERACTIVE</h3>
            <p>
                We will research your market, help come up with marketing strategies
                to get your brand bigger
            </p>
        </div>
    </div>
</div>
