<div id="packagesImg">
    <div id="packagesImg">
        <%= link_to :controller => :application, :action => :packages do %><div id="webDesignPrice"></div><% end %>
        <%= link_to :controller => :application, :action => :packages do %><div id="onlineMktHome"></div><% end %>
        <%= link_to :controller => :application, :action => :packages do %><div id="appDevHome"></div><% end %>
    </div>
</div>