<div id="recentWorksPort">
    <div id="writeUp">
        <h1>DREXEL UNIVERSITY HOSPITAL MANAGER</h1>
            <h2>THE GOALS</h2>
                <p>To completely replace a hospitals student resident evaluation program.</p>
                <hr class="hrSub" />
            <h2>STRATEGY</h2>
                <p>Drexel University’s medical residential program required that all the students evaluate the instructors after an extended stay.   The residents would fill out long paper forms that wasted the administration times.  We wanted to create a system where the administration could collect data from the students in a fast, efficient, and intuitive manner.</p>
            <h2>IMPLEMENTATION</h2>
                <h3DESIGN</h3>
                    <p>Since the site was only meant to be used internally there was not a major focus on the design aspect.</p>

            <h3>DEVELOPMENT</h3>
                    <p>Drexel needed a complex form evaluation system with advanced reporting capabilities.  The form evaluation system needed to be modifiable as different situations can call for different evaluation forms.   Our solution was a WYSWIG (Visual) drag-and-drop online form creator that administrators could use to customize forms.  Administrators could also generate reports based on a wide variety of criteria to compile documentation. </p>
                    <hr class="hrSub" />
            <h2>RESULTS</h2>
                <p>1) Drexel now has the capability to push a large number of evaluations to hospital residences without administrative overhead</p> <br/>
                <p>2) The reporting features allow Drexel to quickly see issues with staff members before they arise.</p><br/>
    </div>
    <%= link_to :action => :portfolio do %><div id="backToLink"><h3>BACK TO PORTFOLIO</h3></div><% end %>
    <%= link_to :action => :contact do %><div id="contactBox">
        <h3>Let's get the ball rollin'</h3>
            <p>We can help your business as much as we helped them!</p>
    </div>
    <% end %>
    <hr class="hrMain" />
</div>

<%= render :partial => 'contact_form' %>