<div id="index">
    <div id="slideshow">
        <p>Slideshow!</p>
    </div>

    <hr class="hrMain" />

    <!-- Recent works, etc -->
    <div id="info">
        <div id="flowChart">
            <%= image_tag 'gfi/testlink.png' %>
        </div>

        <div id="recentWorks">
            <h1>RECENT WORKS</h1>
            
            <div id="previews">
                <div id="tai"></div>
                <div id="nui"></div>
            </div>
        </div>

        <hr class="hrSub" />

    </div>

    <hr class="hrMain" />

    <!-- Our Services -->
    <div id="ourServices">
        <h2>OUR SERVICES</h2>

        <div id="desc">
            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>
        </div>
    </div>
</div>
