<div id="index">
    <div id="slideshow">
        <div id="wrapper">
        <div class="slider-wrapper theme-gfi">
            <div id="slider" class="nivoSlider">
			    <%= image_tag 'gfi/slideshow/interactive.png', {"data-transition" => "boxRainGrow"} %>
                <%= image_tag 'gfi/slideshow/design.png', {"data-transition" => "boxRandom"} %>
                <%= image_tag 'gfi/slideshow/dev.png', {"data-transition" => "fade"} %>
                <%= image_tag 'gfi/slideshow/branding.png', {"data-transition" => "fold"} %>
            </div>
        </div>
        </div>
    </div>

    <hr class="hrMain" />

    <!-- Recent works, etc -->
    <div id="info">
        <a href="test"><div id="flowChart">
        </div></a>

        <div id="recentWorks">
            <h1>RECENT WORKS</h1>
            
            <div id="previews">
                <a href="portfolio/tai"><div id="tai"></div></a>
                <a href="portfolio/nui"><div id="nui"></div></a>
            </div>
        </div>
        
        <hr class="hrSub" />
        
        <div id="previews">
            <h1>A LITTLE ABOUT US</h1>
                <p>We're awesome as hell</p>


    </div>

    

    <!-- Our Services -->
    <div id="ourServices"><hr class="hrMain" />
        <h1>OUR SERVICES</h1>

        <div id="desc">
            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>
        </div>
    </div>
</div>
