<div id="spacer">
	<div id="slideShow">fsdasd</div>
	<div id="midSpacer">
		
		<div id="rightColumn">
			<div id="contentRight">
				<div id="contentHead">
					<h2>RECENT WORKS</h2>
				</div>
					<div id="tai"></div>
					<div id="nui"></div>
				</div>
			</div>
		</div>
		
		
		<div id="leftColumn">
      <%= image_tag 'gfi/testlink.png' %>
		</div>
	</div>
</div>

<div id="serviceHighlight">
	<h2>OUR SERVICES</h2>
	<div id="serviceTimeline">
		<div id="researchTimeline"><h3>RESEARCH</h3><p>We will research your market, help come up with real marketing strategies to get your brand bigger</p></div>
		<div id="designTimeline"><h3>DESIGN</h3><p>Then we will create your design, we don't do cookie cutout sites here, original to each business.</p></div>
		<div id="devTimeline"><h3>DEVELOPMENT</h3><p>Once the design is completed, we will turn it into code, our development team uses the best language out there to make your dream site a reality.</p></div>
		<div id="socialTimeline"><h3>INTERACTIVE MEDIA</h3><p>Now that your site is launched, you have the choice to have us handle your social media presence</p></div>
	</div>
</div>
