<div id="home">
	<div id="spacer">
		<div id="about"><p><%= image_tag 'logo.png' %></p><p>Our Tampa web design company offers the best website design services in the area.  Our web designers create each webpage design unique for every client, so that you know you are getting your very own design.  Our interactive marketing strategies help businesses find new customers and interact loyal customers to help increase ROI.</p></div>
		<div id="design"><p>You may have found web design services or companies that offer design templates for low monthly prices, but they don’t tell you that you have very limited options.  Our design process captures your company’s identity, and guarantees you get a unique site that is exactly what you want.  Contact us to learn about our design process.</p></div>
		<div id="development"><p>Unlike the cookie cutter template services we offer powerful back-end development which currently supports universities and user generated sites with over 5,000 pages.  Any company, any size, anything you can think of we can create, and we can do it faster than our competition.  Contact us to find out how we create your powerful site.</p></div>
		<div id="interactive"><p>The most successful companies are taking money from their traditional marketing budgets and putting it in internet marketing.  We know where to find your customers online, and we know what to say to them to turn them into loyal brand ambassadors.  Contact us to hear how we can help your company stand out online.</p></div>
		<div id="center">
			<div id="fullSite">sfda</div>
			<a href="test"><div id="testLink">dsfad</div></a>
		</div>
		<div id="contact"><%= image_tag 'homepg/email.png' %></div>
	</div>
<div>