<div id="spacer">
	<div id="slideShow">fsdasd</div>
	<div id="midSpacer">
		
		<div id="rightColumn">
			<div id="rightContent">
				hhkjjlhjkl
			</div>
		</div>
		
		<div id="leftColumn">
			sfadfdf
		</div>
	</div>
</div>