<div id="slideshow">
    <div id="wrapper">
    <div class="slider-wrapper theme-gfi">
        <div id="slider" class="nivoSlider">
			<%= image_tag 'gfi/about/locationpic.jpg', {"data-transition" => "fade"} %>
            <%= image_tag 'gfi/about/locationpicva.jpg', {"data-transition" => "fade"} %>
        </div>
    </div>
</div>