<div id="location">
    <div id="iPad">
        <div id="homeButton"></div>
        <div id="lockScreen" class="screen">
            <div id="lock"></div>
        </div>
        
        <div id="locationScreen" class="screen">
            <div id="bbpin" class="pin">
                <div class="popup">
                    <div class="x"></div>
                </div>
            </div>
            <div id="tampapin" class="pin">
                <div class="popup">
                    <div class="x"></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="hrMain" />
    <div id="teamSection">
        <div id="tampaLocation">
            <h2>TAMPA, FLORIDA</h2>
            <p>Our main office is placed in the heart of Florida in Tampa.</p> 
        </div>
        <div id="vaLocation">
            <h2>BLACKSBURG, VIRGINIA</h2>
            <p>Our satellite office is placed in the heart of Virginia in Blacksburg.</p>
        </div>
    </div>
        <hr class="hrMid" />
    <%= render :partial => 'contact_form' %>
</div>
