<div id="slideshow">
    <div id="wrapper">
    <div class="slider-wrapper theme-gfi">
        <div id="slider" class="nivoSlider">
			<%= image_tag 'gfi/about/tampawebdesign.jpg', {"data-transition" => "fade"} %>
            <%= image_tag 'gfi/about/blacksburghwebdesign.jpg', {"data-transition" => "fade"} %>
        </div>
    </div>
</div>
<hr class="hrMain" />
<%= render :partial => 'contact_form' %>