<div id="info">
    <div id="recentWorksPort">
        <h1>RECENT WORKS</h1>
        
        <div id="previews">
            <a href="portfolio/tai"><div id="tai"></div></a>
            <a href="portfolio/nui"><div id="nui"></div></a>
            <a href="portfolio/drexel-teacher-panel"><div id="drexelPort"></div></a>
            <a href="portfolio/vt-surf-club"><div id="vtSurfPort"></div></a>
            <a href="portfolio/parallax-site"><div id="oldSite"></div></a>
        </div>
    </div>
    <hr class="hrMain" />
    <%= render :partial => 'contact_form' %>
</div>