<div id="servicePage">
    <h1>OUR SERVICES</h1>
			<p>Our approach to digital branding goes far beyond making pretty looking websites.  We consider your target audience, your competition, your objectives, and how we can capture an audience and turn them into customers.</p>
            <hr class="hrSub" />
            <%= render :partial => 'package' %>
            <hr class="hrMid" />
		
		<div id="servicesList">	
        <h2>DESIGN</h2>
            <p>Instead of simply creating a design that looks nice we capture your brand’s essence.  67% of online shoppers make decisions based on an experience they have with a brand’s website.  Why would any one cut corners and use a pre-made template design on something so important?</p>
            <hr class="hrSub" />
        <h2>DEVELOPMENT</h2>
            <p>Are you trapped within your website's limitations?  Our website development process allows us to create the most powerful and in-depth ecommerce sites, as well as any content management system your project requires.  Once we have finished we can easily teach you how to manage your site’s updates, or we can handle that for you.</p>
            <hr class="hrSub" />
        <h2>INTERACTIVE MEDIA CAMPAIGNS</h2>
            <p>Not sure why you need to worry about “likes, tweets, retweets, @mentions, StumbleUpon, Reddit, YouTube, Flickr, Tumbler, Foursqaure, Yelp, Places, or your RSS”? We know how all of them can apply to your business, and we can create a unique strategy that works to achieve your objectives. </p>
            <hr class="hrSub" />
        <h2>GOOGLE ADWORDS MANAGEMENT</h2>
            <p>Instead of just trying to get more clicks we want to predict what visitors will do after they’ve arrived at your site.  Whether you are just looking to increase traffic or you want to create and test multiple landing pages we know the best practices to maximize your online spending. </p>
            <hr class="hrSub" />
        <h2>SEARCH ENGINE OPTIMIZATION STRATEGIES</h2>
            <p>Beyond Meta tags and descriptions we scream out to Google and other major search engines so your site will get the attention you are looking for.  It doesn’t matter how good your site looks, or how impressive the functionality is if you aren’t getting ranked in the major search engines.</p>
            <hr class="hrSub" />
        <h2>DID WE MENTION APPS?</h2>
            <p>With over half a million apps and growing, there is a burgeoning market for your product or company to grow using an app.  Since half of all Americans will soon have a smart phone don’t you think it would be a great way to engage with your loyal customers?</p>
            <hr class="hrSub" />
        <h2>KEEPING TRACK OF IT ALL</h2>
            <p>Keeping track of your progress is paramount to understanding how to continue growing your digital brand and we know what to look for.  You need to know what is working and what isn’t.  From monitoring your website traffic, to your total engagement on social media platforms we show all our clients how their efforts relate to the bottom line.</p>
        </div>
    
    <%= render :partial => 'our_process' %>
    <hr class="hrMain" />
    <%= render :partial => 'contact_form' %>
</div>