<div id="servicePage">
    <h1>OUR SERVICES</h1>
			<p>We are Ground Floor Interactive. Our goal is to help you build your brand as quickly and easily as possible. By taking your brand from the ground floor, we will make your presence felt and have you sitting atop the hill of your company's field</p>
    
    <div id="previews">
        <h2>DESIGN</h2>
            <p>we can handle all of your design needs</p>
        <h2>DEVELOPMENT</h2>
            <p>We can handle all of your dev needs</p>
        <h2>INTERACTIVE MEDIA CAMPAIGNS</h2>
            <p>We can handle all of your interactive needs</p>
        <h2>GOOGLE ADWORDS MANAGEMENT</h2>
            <p>get seen on google</p>
        <h2>SEARCH ENGINE OPTIMIZATION STRATEGIES</h2>
            <p>get seen on google naturally</p>
        <h2>DID WE MENTION APPS?</h2>
            <p>Got a new product? Promotional apps are a great way to get the word out!</p>
    </div>
    
    <div id="ourServices"><hr class="hrMain" />
        <div id="desc">
            <div id="serviceHead">
                <h2>THE WAY WE DO THE THINGS WE DO</h2>
            </div>
            <div class="research" id="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="research" id="block">
                <h3>DESIGN</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="research" id="block">
                <h3>DEVELOPMENT</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div id="blockTwo">
                <h3>INTERACTIVE</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>
        </div>
    </div>
    <hr class="hrMain" />
    <%= render :partial => 'contact_form' %>
</div>