<h1>THE TEAM</h1>
	<p>With an all-star team in web design, our people know how to get things done, anything that your brand needs to grow some legs, we can do it.</p>
	
<hr class="hrSub" />
<div id="teamSection">
    <h2>TYLER PERKINS</h2>
        <h3>CHIEF EXECUTIVE OFFICER</h3>
        <p>Tyler’s passion for digital media brings an experienced leader to GFI’s strong team.  Working with app developers for over two years has allowed Tyler to be at the forefront of the next big idea many times in the mobile space.  Tyler has worked with national clients to develop interactive campaigns that build strong relationships with customers.</p>
        <p>Tyler gets excited creating strategies that grow online audiences and he loves making the finite changes to squeeze every little bit of a return on investment for clients.  Most of his time is spent, joyfully, looking at data so that he can accurately make decisions which will positively influence his campaigns.</p>
        <p>His advertising degree from the University of South Florida has opened his eyes to using great creative work in ways that make companies stand out from the competition.  He looks all the same social media everyone else does but he sees ways businesses can interact and gain new customers.  </p>
</div> 

<hr class="hrSub" />
<div id="teamSection">
    <h2>NOLAN PERKINS</h2>
        <h3>SENIOR CREATIVE ART DIRECTOR</h3>
        <p>Nolan brings a very talented, left handed, artistic mind to GFI.  He has worked on numerous websites, banner ads, app designs, flyers, post cards, emails, landing pages, logos, business cards, QR codes, and much more.  His ability to capture a brand’s identity to create a unique experience for audiences is as good as you will find anywhere.</p>
        <p>Nolan spends most of his time creating new fonts just for fun, and designing new worlds on photo shop.  Nolan has recently created a YouTube channel which will display action effects driven short videos to display his editing and creative ability.  </p>
        <p>When Nolan is not working he is reading some tutorial or trying out a newly learned skill.  His creative ability can be seen in website, apps, videos and much more.  He is the type of person that will never stop learning how to create something in a new way.</p>
</div>

<hr class="hrSub" />
<div id="teamSection">
    <h2>BUD 'SO' TOWNSEND</h2>
        <h3>SENIOR DEVELOPMENT DIRECTOR AND LEAD PROJECT MANAGER</h3>
        <p>Bud has been featured in “”””” magazines and his projects have been sought after by Fortune 500 companies.  Bud’s talent is unmatched and one of a kind.  He can be given any project with hurdles most couldn’t overcome and he will instantly find a solution.  His ability to complete any project faster than the competition puts GFI at the forefront of any client’s short list.</p>
        <p>In his spare time Bud has created a program that allows marketers to re-direct QR codes after they have been printed which no one else has done.  He developed...</p>
        <p>Bud is currently attending Virginia Tech where he is working on a “”” degree.  He has been “that computer guy” since he was five, and we at GFI think Bud will be a household name someday but for the time being we are lucky enough to have him on our team.</p>
</div>

<hr class="hrMain" />
<%= render :partial => 'contact_form' %>