<h1>THE TEAM</h1>
	<p>With an all-star team in web design, our people know how to get things done, anything that your brand needs to grow some legs, we can do it.</p>
	
<hr class="hrSub" />
<div id="teamSection">
    <h2>TYLER PERKINS</h2>
        <h3>ACCOUT MANAGER</h3>
        <p>Tyler has worked hard for the past few years to learn how to handle accounts while working as a salesman in the commercial cleaning business, also working in one of the largest advertising agencies in the country at Zimmerman agency.</p>
</div> 

<hr class="hrSub" />
<div id="teamSection">
    <h2>NOLAN PERKINS</h2>
        <h3>CREATIVE DIRECTOR</h3>
        <p>Nolan has for the past 3 years learning, practicing, and reading. By finding trends in the web design field, and working day in and day out to connect creativity to functionality.</p>
</div>

<hr class="hrSub" />
<div id="teamSection">
    <h2>BUD 'SO' TOWNSEND</h2>
        <h3>HEAD DEVELOPER</h3>
        <p>So has become one of the leading minds in the development field, while getting featured on magazines and learning everything there is to know about web development, anything that you can think of in a web site, Bud can do.</p>
</div>

<hr class="hrMain" />
<%= render :partial => 'contact_form' %>