<div id="test">
	<div id="spacer2">
	    <a href="/"><div id="backToLink"><h3>BACK TO HOME PAGE</h3></div></a>
		<div id="happy"><h2>ARE YOU HAPPY WITH YOUR WEBSITE?</h2></div>
		<div id="yesHappy"><h2>YES</h2></div>
		<div id="noHappy"><h2>NO</h2></div>
		<div id="socialBubble"><h3>DO YOU WANT TO GROW YOUR SOCIAL MEDIA PRESENCE?</h3></div>
		<div id="designTest"><h3>DO YOU WANT A BETTER DESIGN?</h3></div>
		<div id="functionality"><h3>DO YOU WANT MORE SCALABILITY?</h3></div>
		<div id="designStat"><p>42% OF SHOPPERS BASED THEIR OPINION OF A WEBSITE ON THE OVERALL DESIGN ALONE (Logic Media, 2010)</p></div>
		<div id="functionStat"><p>MEGA SITES LIKE TWITTER, HULU, AND YELLOW PAGES ARE USING THE SAME POWERFUL FRAMEWORK WE ARE, WE DEVELOP FASTER AND MORE IN DEPTH THAN OUR COMPETITORS</p></div>
		<div id="socialStat"><p>NEARLY 49% OF SHOPPERS HAVE MADE A PURCHASE BASED ON A RECOMMENDATION THROUGH A SOCIAL MEDIA PROPERTY (1&amp;1 Internet survey of 1600 consumers)</P></div>
		<div id="yesSocial"><h2>YES</h2></div>
		<div id="noSocial"><h2>NO</h2></div>
		<div id="noFunction"><h2>NO</h2></div>
		<div id="noDesign"><h2>NO</h2></div>
		<div id="contactUsTest"><h3>LET US HELP, CONTACT US TODAY FOR A FREE QUOTE! <%= image_tag 'homepg/email2.png' %></h3></div>
		
		
		<!-- arrows- - - - - - - - - - - - - -->
		
		<div id="happyYesArrow"></div>
		<div id="happyNoFunction"></div>
		<div id="happyNoDesign"></div>
		<div id="happyNoArrow"></div>
		<div id="socialArrow"></div>
		<div id="socialNoArrow"></div>
		<div id="socialYesArrow"></div>
		<div id="noSocialStat"></div>
		<div id="noSocialArrow"></div>
		<div id="designNoArrow"></div>
		<div id="functionNoArrow"></div>
		<div id="finalFunctionArrow"></div>
		<div id="functionStatFinal"></div>
		<div id="noFunctionStat"></div>
		<div id="designStatArrow"></div>
		<div id="designStatFinal"></div>
		<div id="noDesignStat"></div>
		<div id="designYesArrow"></div>
		
			
			
		
		
	</div>
</div>