<div id="test">
	<div id="spacer2">
		<div id="happy"><h2>ARE YOU HAPPY WITH YOUR WEBSITE?</h2></div>
		<div id="yesHappy"><h2>YES</h2></div>
		<div id="noHappy"><h2>NO</h2></div>
		<div id="socialBubble"><h3>DO YOU WANT TO GROW YOUR SOCIAL MEDIA PRESENCE?</h3></div>
		<div id="designTest"><h3>DO YOU WANT A BETTER DESIGN?</h3></div>
		<div id="functionality"><h3>DO YOU</h3> <h3>WANT BETTER FUNCIONTALITY?</h3></div>
		<div id="designStat"><p>80% OF DECISIONS CAN BE SWAYED IF PEOPLE LIKE THE LOOK OF THE BUSINESS</p></div>
		<div id="functionStat"><p>30% OF PEOPLE WILL LEAVE YOUR SITE IF YOU DON’T HAVE OBVIOUS FUNCTIONALITY</p></div>
		<div id="socialStat"><p>NEARLY 49% OF SHOPPERS HAVE MADE A PURCHASE BASED ON A RECOMMENDATION THROUGH A SOCIAL MEDIA PROPERTY (1&1 Internet survey of 1600 consumers)</P></div>
		<div id="yesSocial"><h2>YES</h2></div>
		<div id="noSocial"><h2>NO</h2></div>
		<div id="noFunction"><h2>NO</h2></div>
		<div id="noDesign"><h2>NO</h2></div>
		<div id="contactUsTest"><h3>WE CAN FIX THAT, CONTACT US TODAY FOR A FREE QUOTE! CONTACTUS@GNDFLOOR.COM</h3></div>
		
		
		<!-- arrows- - - - - - - - - - - - - -->
		
		<div id="happyYesArrow"></div>
		<div id="happyNoFunction"></div>
		<div id="happyNoDesign"></div>
		<div id="happyNoArrow"></div>
		<div id="socialArrow"></div>
		<div id="socialNoArrow"></div>
		<div id="socialYesArrow"></div>
		<div id="noSocialStat"></div>
		<div id="noSocialArrow"></div>
		<div id="designNoArrow"></div>
		<div id="functionNoArrow"></div>
		<div id="finalFunctionArrow"></div>
		<div id="functionStatFinal"></div>
		<div id="noFunctionStat"></div>
		<div id="designStatArrow"></div>
		<div id="designStatFinal"></div>
		<div id="noDesignStat"></div>
		<div id="designYesArrow"></div>
		
			
			
		
		
	</div>
</div>